
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.text{
  display: block;
  margin-left: 4em;
  margin-right: 4em;
  text-align: center;
  font-size: 50px;
  font-family: 'MedievalSharp', cursive;
  position:relative;
  width: 100%;
    border: 5px ;
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left:0px;
}
.blink_me {
  animation: blinker 2.5s linear infinite;
  color: brown;
}

@keyframes blinker {
  70% {
    opacity: 0;
  }
}

img {
  width: 400px;
  height: 400px;
}

body {
  background-color: rgb(170, 238, 196);
}

.flex-container {
  flex-direction: column;
  display: inline-block;
  justify-content: center;
  display:flex;
}
.music{
  display: block;
  margin-left: 4em;
  margin-right: 4em;
  position:relative;
  width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:620px
    
}